[
  {
    "name": "Test name",        // Give a name to your test in TrustInSoft CI
    "files": ["sftp-glob.c"],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-I.",   // Include all the compilation command options like if you were to compile the test
    "remote_glob": "remote_glob"              // Specify the entry point function for the test (optional, default is "main")
  }
]
